<!DOCTYPE HTML>
<html>
<head>
	<title>Snake game!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <div class="container">
    <section class="controllButtons">
    <div class="row">
        <div class="offset-by-four five columns">
            <button class="four columns play">Play</button>
            <button class="offset-by-two four columns reset">Reset</button>
        </div>
    </div>
    </section>
    </div>
</header>
<main>
</main>
</body>
</html>