<!DOCTYPE HTML>
<html>
<head>
	<title>Snake game!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="container-fluid">
        <section class="row header">
            <img></img>
            <div class='wrap'>
                <h1>This is simple snake game</h1>
                <div class="col-xs-offset-2 cols-xs-2 button">
                    <button class="col-xs-offset-2 btn btn-lg">Let's Play!</button>
                </div>
            </div>
        </section>
    </header>
<!--     <main>
        <section class="panel">
            <h2>Get maximal scores!</h2>
            <div>Play</div><div>Pause</div><div>Refresh</div>
        </section>
        <section class="gameDeck"></section>
        <section>
            <h3>Scores: </h3><h3>Timer: </h3><h3>Temp: </h3>
        </section>
    </main> -->
</body>
</html>