<!DOCTYPE HTML>
<html>
<head>
	<title>Snake game!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <main class="container-fluid">
        <section class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <a href="#"><img class="col-xs-4" src="img/play-button.png"></a>
                <a href="#"><img class="col-xs-4" src="img/pause.png"></a>
                <a href="#"><img class="col-xs-4" src="img/replay.png"></a>
            </div>
        </section>
        <section class="gameDeck row"></section>
        <section>
            <h4 class="col-xs-4">Scores:</h4>
            <h4 class="col-xs-4">Timer: </h4>
            <h4 class="col-xs-4">Temp: </h4>
        </section>
    </main>
</body>
</html>