/* user styles */

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
/* font for buttons */

#gameDeck {
   height: 360px;
}

.gameDeck {
    margin-left: 31.3%;
}

.controllButtons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.counters {
    margin-top: 40px;
}

.gameOverModal {
    display: none;
    position: absolute;
    top: 70%;
    left: 40%;
    min-height: 50px;
    width: 20%;
    background-color: #fff;
    padding: 0 2% 1% 2%;
    text-align: center;
    z-index: 1;
    border-radius: 2px;
}